<launch>

  <arg name="this_session_path" default="$(find mrs_uav_controllers)/test/failsafe_controller/modalities" />

  <arg name="UAV_NAME" default="uav1" />
  <arg name="RUN_TYPE" default="simulation" />
  <arg name="UAV_TYPE" default="x500" />

  <arg name="modality" default="" />

  <include file="$(find mrs_multirotor_simulator)/launch/multirotor_simulator.launch">
    <arg name="custom_config" default="$(arg this_session_path)/config/simulator.yaml" />
  </include>

  <include file="$(find mrs_multirotor_simulator)/launch/hw_api.launch">
    <arg name="UAV_NAME" default="$(arg UAV_NAME)" />
    <arg name="RUN_TYPE" default="$(arg RUN_TYPE)" />
    <arg name="custom_config" default="$(arg this_session_path)/config/hw_api_$(arg modality).yaml" />
  </include>

  <include file="$(find mrs_uav_core)/launch/core.launch">

    <arg name="UAV_NAME" default="$(arg UAV_NAME)" />
    <arg name="RUN_TYPE" default="$(arg RUN_TYPE)" />

    <arg name="world_config" default="$(arg this_session_path)/config/world_config.yaml" />
    <arg name="network_config" default="$(arg this_session_path)/config/network_config.yaml" />
    <arg name="custom_config" default="$(arg this_session_path)/config/custom_config.yaml" />
    <arg name="platform_config" default="$(find mrs_multirotor_simulator)/config/mrs_uav_system/$(arg UAV_TYPE).yaml" />

  </include>

</launch>
